/* ChefOrders.module.css */

.container {
    padding: 3rem;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .order {
    border: 1px solid #23262f;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #23262f;
  }
  
  .order h3 {
    margin-top: 0;
  }
  
  .order img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
    vertical-align: middle;
  }
  
  .order-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-details p {
    margin: 0;
    margin-right: 15px;
  }
  
  .order-summary {
    font-weight: bold;
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  
  .deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #e60000;
  }