.footer {
  width: auto;
  background: linear-gradient(135deg, #3b3b3b, #1a1a1a); /* Градиентный фон */
  color: #f0f0f0; /* Светлый текст */
  padding-bottom: 5.5rem;
  text-align: center;
  background: #1a1a1a;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  background: #1a1a1a;
}

.footerSection {
  flex: 1;
  min-width: 12rem; /* Минимальная ширина секции */
  margin: 1rem;
  background: #1a1a1a;
}

.footerSection h4 {
  background: #1a1a1a;
  color: #ffcc00; /* Цвет заголовков */
  margin-bottom: 0.25rem;
}

.footerSection p,
.footerSection a {
  background: #1a1a1a;
  color: #f0f0f0;
  margin: 0.2rem 0;
  text-decoration: none;
}

.footerSection a:hover {
  background: #1a1a1a;
  color: #ffcc00; /* Цвет ссылок при наведении */
  transition: color 0.3s;
}

.socialLinks {
  background: #1a1a1a;
  list-style: none;
  padding: 0;
}

.socialLinks li {
  background: #1a1a1a;
  margin: 0.1rem 0;
}

.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  align-items: center;
  gap: 0.1rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.socialIcon {
  background: #1a1a1a;
  width: auto;
  font-size: 1.5rem; /* Размер иконок социальных сетей */
}

.footerBottom {
  border-top: 1px solid #4a4a4a;
  padding-top: 0.1rem;
  font-size: 0.9rem;
}

.footerBottom a {
  color: #ffcc00;
}

.footerBottom a:hover {
  text-decoration: underline;
}
