.totalTitle{
    font-size: 2rem;
    margin: 1rem;
}

.total{
    margin: 1rem;
    font-size: 1.3rem;
}

.button{
    color: black;
    width: 80%;
}

.buttonDiv{
    width: auto;
    display: flex;
    justify-content: center;
}